

.calculator {
  $orange: #f5913f;
  $white: #e0e0e0;
  $grey: #858694;

  width: 50vw;

  

  &__display {
    color: #fff;
    background: $grey;
  }

  &__keypad {
    
    &-row {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: stretch;

      button:last-child {
        background-color: $orange;
        border-top: 0.5px solid $white;
      }
    }

    #zero {
      grid-column: span 2;
    }

    &-button {
      background-color: $white;
      border: 0.5px solid $grey;
    }
  }
}